{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Acerca de mí ...</h2>
<h5>Mi nombre es Mariana Pineda, tengo 40 años, soy Bromatóloga y este es mi primer curso de programación.
    Elegí como tema para el proyecto final el desarrollo de una página para una biblioteca.
    Mis hijos disfrutan mucho la lectura y somos socios de una biblioteca municipal, la cual
    posee mucha información en formato papel.
    Me gustaría poder seguir haciendo cursos y crear una página para que el personal que trabaja en la biblioteca 
    pueda registrar y acceder a la información de manera más sencilla.
    Este primer trabajo es el puntapié inicial para lograrlo.
</h5>

{% endblock %}