
{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<h1>Listado de libros</h1>
<body>
    {% for l in libros %}
    <li>{{l}}</li>
    <button>
        <a href="{% url 'eliminar_libros' l.titulo %}">Eliminar</a>
    </button>
    <button>
        <a href="{% url 'editar_libros' l.titulo %}">Editar</a>
    </button>
    {% endfor %}
    <br>
    <h1>Agregar libro</h1>
    <form action="{% url 'libros_formulario'%}" method="post">{% csrf_token %}
        <!--Acá va nuestro formulario-->
        <table>

             {{formulario.as_table}}

        </table>
        <p>Título: <input type="text" name="titulo"></p>
        <p>Tipo: <input type="text" name="tipo"></p>
        <p>Edad Recomendada: <input type="number" name="edadRecomendada"></p>
    
        <input type="submit" value="Enviar">

    </form>
</body>
  
{% endblock %}
